{% extends "archive/base.html.twig" %}
{% block title %}
    {{ performance.title }}
{% endblock %}
{% block leftColumn %}
    {#{{ parent() }}#}
    <p class="text-right">{{ performance.season }}</p>
    <p class="text-right">{{ performance.stage}}</p>
    <p class="text-right">{{ performance.authorLabel}}</p>
    <h1 class="pageTitle text-right">{{ performance.title }}</h1>
    <hr>

    <ul class="list-inline float-right">
        <li class="list-inline-item">
            {{ include('inc/button.index.html.twig',{'route': 'archive_performance_index', 'label': 'label.performances' |trans}) }}
        </li>
        {% if is_granted("ROLE_EDITOR") %}
            <li class="list-inline-item">
                {{ include('inc/button.edit.html.twig', {'route': 'archive_performance_edit', 'id': performance.id}) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block rightColumn %}

    <div class="container-fluid">
        <div class="row">
            {# AUTORSTVA #}
            <div class="col-lg-6">

                {# OSTALI AUTORI #}
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <span>Autori</span>
                            {% if is_granted("ROLE_EDITOR") %}
                            <span>
                                <a href="{{ path('archive_performance_authorship_add', {"id": performance.id}) }}" class="btn btn-sm btn-bnp-icon btn-outline-success float-right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </span>
                            {% endif %}
                        </h3>
                        <table class="table table-striped">
                            <tbody>
                            {% for authorship in performance.authorships %}
                                <tr>
                                    <td>{{ authorship.authorshipTypeLabel ? authorship.authorshipTypeLabel : authorship.authorshipType.name }}</td>
                                    <td>{{ authorship.getAuthorName() }}</td>
                                    {% if is_granted("ROLE_EDITOR") %}
                                        <td>
                                            <span>
                                                <a href="{{ path('archive_performance_authorship_edit', {"id": performance.id, "authorshipId": authorship.id}) }}">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            {{ include('archive/authorship/_delete_form.html.twig') }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            {# IZVOĐAČI #}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <span>Izvođači</span>
                            {% if is_granted("ROLE_EDITOR") %}
                                <span>
                                <a href="{{ path('archive_performance_role_add', {"id": performance.id}) }}" class="btn btn-sm btn-bnp-icon btn-outline-success float-right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </span>
                            {% endif %}
                        </h3>
                        <table class="table table-striped">
                            <tbody>
                            {% for role in performance.roles %}
                                <tr>
                                    <td>{{ role.name ? role.name : "" }}</td>
                                    <td>{{ role.authorLabel ? role.authorLabel : role.author.getFullName() }}</td>
                                    {% if is_granted("ROLE_EDITOR") %}
                                        <td>
                                            <span>
                                                <a href="{{ path('archive_performance_role_edit', {"id": performance.id, "roleId": role.id}) }}">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            {{ include('archive/role/_delete_form.html.twig') }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    {{ include('inc/entity.item.info.html.twig', {'entity': performance}) }}
{% endblock %}


