{% extends "archive/base.html.twig" %}
{% block title %}
    {{ performance.title }}
{% endblock %}
{% block leftColumn %}
    {#{{ parent() }}#}
    <p>{{ performance.season }}</p>
    <p>{{ performance.stage}}</p>
    <p>{{ performance.authorLabel}}</p>
    <h1 class="pageTitle">{{ performance.title }}</h1>
    <p>
        <span>{{ 'label.premiere' | trans }}: </span>
        <span>{{ performance.premiereDate|date('d. m. Y.') }}</span>
    </p>
    <hr>

    <ul class="list-inline">
        <li class="list-inline-item">
            {{ include('inc/button.index.html.twig',{'route': 'archive_performance_index', 'label': 'label.performances' |trans}) }}
        </li>
        {% if is_granted("ROLE_EDITOR") %}
            <li class="list-inline-item">
                {{ include('inc/button.edit.html.twig', {'route': 'archive_performance_edit', 'id': performance.id}) }}
            </li>
        {% endif %}
    </ul>
    <div class="clearfix"></div>
    <hr>

    {% if performance.note %}
        <p>{{ 'label.note'|trans }}</p>
        <p>{{ performance.note }}</p>
    {% endif %}
    {% if performance.editorNote %}
        <p>{{ 'label.editorNote'|trans }}</p>
        <p>{{ performance.editorNote }}</p>
    {% endif %}

{% endblock %}
{% block rightColumn %}

    <div class="container-fluid">
        <div class="row">
            {# AUTORSTVA #}
            <div class="col-lg-6">

                {# OSTALI AUTORI #}
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <span>Autori</span>
                            {% if is_granted("ROLE_EDITOR") %}
                            <span>
                                <a href="{{ path('archive_performance_authorship_add', {"id": performance.id}) }}" class="btn btn-sm btn-bnp-icon btn-outline-success float-right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </span>
                            {% endif %}
                        </h3>
                        <table class="table table-striped">
                            <tbody>
                            {% for authorship in performance.authorships %}
                                <tr>
                                    <td>{{ authorship.authorshipTypeLabel ? authorship.authorshipTypeLabel : authorship.authorshipType.name }}</td>
                                    <td><a href="{{ path('archive_author_show', {'id': authorship.author.id}) }}">{{ authorship.getAuthorName() }}</a></td>
                                    {% if is_granted("ROLE_EDITOR") %}
                                        <td>
                                            <span>
                                                <a href="{{ path('archive_performance_authorship_edit', {"id": performance.id, "authorshipId": authorship.id}) }}">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            {{ include('archive/authorship/_delete_form.html.twig') }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            {# IZVOĐAČI #}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <span>Izvođači</span>
                            {% if is_granted("ROLE_EDITOR") %}
                                <span>
                                <a href="{{ path('archive_performance_role_add', {"id": performance.id}) }}" class="btn btn-sm btn-bnp-icon btn-outline-success float-right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </span>
                            {% endif %}
                        </h3>
                        <table class="table table-striped">
                            <tbody>
                            {% for role in performance.roles %}
                                <tr>
                                    <td>{{ role.name ? role.name : "" }}</td>
                                    <td><a href="{{ path('archive_author_show', {'id': role.author.id}) }}">{{ role.authorLabel ? role.authorLabel : role.author.getFullName() }}</a></td>
                                    {% if is_granted("ROLE_EDITOR") %}
                                        <td>
                                            <span>
                                                <a href="{{ path('archive_performance_role_edit', {"id": performance.id, "roleId": role.id}) }}">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            {{ include('archive/role/_delete_form.html.twig') }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    {{ include('inc/entity.item.info.html.twig', {'entity': performance}) }}
{% endblock %}


