{% extends 'frontend/leftLayout.html.twig' %}

{% block title %}{{ 'label.homePage'|trans }}{% endblock %}
{% block leftColumn %}
    {{ parent() }}

{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('general_contact_index') }}">
                <div class="card">
                    <div class="card-body">
                        <h1>
                            <span class="align-middle"><i class="far fa-2x fa-address-book"></i></span>
                            <span class="align-middle">{{ 'label.contacts'|trans }}</span>
                        </h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('general_event_index') }}">
                <div class="card">
                    <div class="card-body">
                        <h1>
                            <span class="align-middle"><i class="far fa-2x fa-calendar-alt"></i></span>
                            <span class="align-middle">{{ 'label.events'|trans }}</span>
                        </h1>
                    </div>
                </div>
            </a>
        </div>
    </div>

    {#<div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>#}
{% endblock %}