{% extends "frontend/fullPageLayout.html.twig" %}
{% block title %}{{ 'label.events'|trans }}{% endblock %}
{% block full_page %}
    <h1 class="pageTitle float-left">{{ 'label.events'|trans }}</h1>
    <h3 class="float-right">
        {{ include('inc/button.new.html.twig', {'route': 'general_event_new'}) }}
    </h3>

    <div class="clearfix"></div>

    <!-- Filters modal -->

    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#eventFiltersModal">
        {{ 'label.filters'|trans }}
    </button>
    {% if filters %}
        <a class="btn btn-outline-secondary" href="{{ path('general_event_clear_filters') }}">
            {{ 'label.resetFilters'|trans }}
        </a>
    {% endif %}


    {#<span> | </span>
    <a class="btn btn-outline-secondary" href="#">
        <i class="fas fa-table"></i>
    </a>
    <a class="btn btn-outline-secondary" href="#">
        <i class="fas fa-th-large"></i>
    </a>#}


    <!-- Modal -->
    <div class="modal fade" id="eventFiltersModal" tabindex="-1" role="dialog" aria-labelledby="eventFiltersModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="eventFiltersModalTitle">{{ 'label.events'|trans }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ include('general/event/filters.form.html.twig', {'form': filtersForm}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        {{ 'label.cancel'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <table class="table table-striped table-events">
        <thead>
        <tr>
            <th>{# BNP (home) icon #}</th>
            <th>{{ 'label.type'|trans }}</th>
            <th>{{ 'entityField.time'|trans }}</th>
            <th>{{ 'entityField.eventName'|trans }}</th>
            <th>{{ 'entityField.production'|trans }}</th>
            <th class="text-center">{#{{ 'label.age'|trans }}#}</th>
            <th>{# guesting and festival #}</th>
            <th class="text-center">{#{{ 'entityField.premiere'|trans }}#}</th>
            <th class="text-center">{#{{ 'entityField.canceled'|trans }}#}</th>

        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr {% if event.canceled %} class="event-canceled" {% elseif event.premiere %} class="event-premiere" {% endif %}>
                <td style="width: 30px;">{% if not event.externalProduction %}<i class="fas fa-home" data-toggle="tooltip" data-placement="right" title="{{ 'entityField.homeProduction'|trans }}"></i>{% endif %}</td>
                <td style="width: 100px;">{{ event.eventType ? event.eventType.name : "" }}</td>
                <td style="width: 200px;">
                    <a href="{{ path('general_event_show', {'id': event.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ event.description }}">
                        {{ event.time ? event.time|date('D')|trans }}, {{ event.time ? event.time|date() }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('general_event_show', {'id': event.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ event.description }}">
                        {{ event.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('general_event_show', {'id': event.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ event.description }}">
                        {{ event.production }}
                    </a>
                </td>

                {% if event.forAdults %}
                    <td class="text-center">
                        <i class="fas fa-user-tie" data-toggle="tooltip" data-placement="top" title="{{ 'entityField.forAdults'|trans }}"></i>
                    </td>
                {% elseif event.forChildren %}
                    <td class="text-center"><i class="fas fa-1x fa-child" data-toggle="tooltip" data-placement="top" title="{{ 'entityField.forChildren'|trans }}"></i></td>
                {% else %}
                    <td class="text-center"></td>
                {% endif %}
                <td class="text-center">
                    {% if event.guesting or event.festival %}
                        <i class="fas fa-truck" data-toggle="tooltip" data-placement="top" title="{% if event.festival %}{{ event.festivalTitle }}{% elseif event.guesting%}{{ event.guestingTitle }}{% endif %}"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if event.premiere %}
                        <i class="fas fa-theater-masks" data-toggle="tooltip" data-placement="top" title="{{ 'entityField.premiere'|trans }}"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if event.canceled %}
                        <i class="fas fa-ban" data-toggle="tooltip" data-placement="left" title="{{ 'entityField.canceled'|trans }}"></i>
                    {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ 'label.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginator.hasToPaginate %}
        {{ include('inc/paginator.html.twig') }}
    {% endif %}
{% endblock %}