{% extends "frontend/fullPageLayout.html.twig" %}
{% block title %}{{ 'label.events'|trans }}{% endblock %}
{% block full_page %}
    <h1 class="pageTitle float-left">{{ 'label.events'|trans }}</h1>
    <h3 class="float-right">
        {{ include('inc/button.new.html.twig', {'route': 'general_event_new'}) }}
    </h3>

    <div class="clearfix"></div>

    <!-- Filters modal -->
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#eventFiltersModal">
        {{ 'label.applyFilters'|trans }}
    </button>
    {% if filters %}
        <a class="btn btn-outline-secondary" href="{{ path('general_event_clear_filters') }}">
            {{ 'label.resetFilters'|trans }}
        </a>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="eventFiltersModal" tabindex="-1" role="dialog" aria-labelledby="eventFiltersModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="eventFiltersModalTitle">{{ 'label.events'|trans }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ include('general/event/filters.form.html.twig', {'form': filtersForm}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        {{ 'label.cancel'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {#{{ include('general/event/filters.form.html.twig', {'form': filtersForm}) }}#}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'production', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.production'|trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'name', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.eventName'|trans }}
                </a>
            </th>
            <th>{{ 'entityField.description'|trans }}</th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'time', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.time'|trans }}
                </a>
            </th>
            <th>
                {{ 'entityField.guestingTitle'|trans }}
            </th>
            <th>
                {{ 'entityField.festivalTitle'|trans }}
            </th>
            <th class="text-center">
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'premiere', 'orderDirection': 'desc'}) }}">
                    {{ 'entityField.premiere'|trans }}
                </a>
            </th>
            <th class="text-center">
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'externalProduction', 'orderDirection': 'desc'}) }}">
                    {{ 'entityField.externalProduction'|trans }}
                </a>
            </th>
            <th class="text-center">
                {{ 'entityField.canceled'|trans }}
            </th>
            {#<th></th>#}
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr {% if event.premiere %} class="event-premiere" {% endif %}>
                <td>{{ event.production }}</td>
                <td><a href="{{ path('general_event_show', {'id': event.id}) }}">{{ event.name }}</a></td>
                <td>{{ event.description }}</td>
                <td>{{ event.time ? event.time|date() : ''}}</td>
                <td>{{ event.guestingTitle }}</td>
                <td>{{ event.festivalTitle }}</td>
                <td class="text-center">{{ event.premiere ? 'label.yes'|trans }}</td>
                <td class="text-center">{{ event.externalProduction ? 'label.yes'|trans }}</td>
                <td class="text-center">{{ event.canceled ? 'label.yes'|trans }}</td>
                {#<td class="text-center">
                    {{ include('inc/show.edit.links.html.twig',
                        {
                            'showRoute': 'general_event_show',
                            'editRoute': 'general_event_edit',
                            'id': event.id
                        }
                    )
                    }}
                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ 'label.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginator.hasToPaginate %}
        {{ include('inc/paginator.html.twig') }}
    {% endif %}
{% endblock %}