{% extends "frontend/fullPageLayout.html.twig" %}
{% block title %}Adresar{% endblock %}
{% block full_page %}
    <div class="row">
        <div class="col-sm-11">
            <h1>Adresar</h1>
        </div>
        <div class="col-sm-1">
            <h1>
                <a class="btn btn-bnp btn-success" href="{{ path('general_event_new') }}">
                    {{ 'label.new' |trans }}
                </a>
            </h1>
        </div>
    </div>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'company', 'orderDirection': 'asc'}) }}">
                    {{ 'label.name'|trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'firstName', 'orderDirection': 'asc'}) }}">
                    {{ 'label.time'|trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'lastName', 'orderDirection': 'asc'}) }}">
                    {{ 'label.premiere'|trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'email', 'orderDirection': 'asc'}) }}">
                    {{ 'label.externalProduction'|trans }}
                </a>
            </th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.time }}</td>
                <td>{{ event.premiere }}</td>
                <td>{{ event.externalProduction }}</td>
                <td>
                    <a href="{{ path('general_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('general_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginator.hasToPaginate %}
        {{ include('inc/paginator.html.twig') }}
    {% endif %}
{% endblock %}