{% extends 'frontend/leftLayout.html.twig' %}
{% block title %}{{ 'label.events'|trans }}{% endblock %}
{% block leftColumn %}
    {{ parent() }}
    <h1 class="pageTitle text-right">{{ event.name }}</h1>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>{{ 'entityField.time' |trans }}</th>
            <td>{{ event.time ? event.time|date() : ''}}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.premiere' |trans }}</th>
            <td>{{ event.premiere ? 'label.yes'|trans }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.externalProduction' |trans }}</th>
            <td>{{ event.externalProduction ? 'label.yes'|trans }}</td>
        </tr>

        </tbody>
    </table>

    {{ include('inc/entity.item.info.html.twig', {'entity': event}) }}

    <ul class="list-inline">
        <li class="list-inline-item">
            {{ include('inc/button.index.html.twig',{'route': 'general_event_index', 'label': 'label.events' |trans}) }}
        </li>
        {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
            <li class="list-inline-item">
                {{ include('inc/button.edit.html.twig', {'route': 'general_event_edit', 'id': event.id}) }}
            </li>
            <li class="list-inline-item">
                {{ include('inc/button.delete.html.twig', {'route': 'general_event_delete', 'id': event.id}) }}
            </li>
        {% endif %}
    </ul>

{% endblock %}