{% extends 'frontend/leftLayout.html.twig' %}
{% block title %}Kontakti{% endblock %}
{% block leftColumn %}
    {{ parent() }}
    <h1>Uredi kontakt</h1>
    <p>
        <a class="btn btn-lg btn-bnp btn-outline-primary" href="{{ path('general_contact_index') }}">nazad</a>
    </p>
    <p>
        {{ include('general/contact/_delete_form.html.twig') }}
    </p>

{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    {{ include('general/contact/_form.html.twig', {'button_label': 'Sačuvaj'}) }}
{% endblock %}


