{% extends 'frontend/leftLayout.html.twig' %}
{% block title %}{{ 'label.contacts'|trans }}{% endblock %}
{% block leftColumn %}
    {{ parent() }}
    <h1 class="color-edit text-right">{{ 'label.edit'|trans }}</h1>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    {{ include('general/contact/_form.html.twig', {'button_label': 'SaÄuvaj'}) }}
{% endblock %}


