{% extends "frontend/fullPageLayout.html.twig" %}
{% block title %}
    {{ 'label.addressBook'|trans }}
{% endblock %}
{% block full_page %}
    <div class="row">
        <div class="col-sm-11">
            <h1 class="pageTitle">{{ 'label.addressBook'|trans }}</h1>
        </div>
        <div class="col-sm-1">
            <h1>
                {{ include('inc/button.new.html.twig', {'route': 'general_contact_new'}) }}
            </h1>
        </div>
    </div>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'company', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.company' |trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'firstName', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.firstName' |trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'lastName', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.lastName' |trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'email', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.email' |trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'phone', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.phone' |trans }}
                </a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {'page': paginator.currentPage, 'orderBy': 'firstName', 'orderDirection': 'asc'}) }}">
                    {{ 'entityField.mobile' |trans }}
                </a>
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.company }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.mobile }}</td>

                <td class="text-center">
                    {{ include('inc/show.edit.links.html.twig',
                        {
                            'showRoute': 'general_contact_show',
                            'editRoute': 'general_contact_edit',
                            'id': contact.id
                        }
                        )
                    }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ 'label.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if paginator.hasToPaginate %}
        {{ include('inc/paginator.html.twig') }}
    {% endif %}
{% endblock %}


