{% extends 'frontend/leftLayout.html.twig' %}
{% block title %}{{ 'label.contacts'|trans }}{% endblock %}
{% block leftColumn %}
    {{ parent() }}
        <h3 class="pageTitle text-right">{{ contact.company }}</h3>
        <h1 class="pageTitle text-right">{{ contact.name }}</h1>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>{{ 'entityField.email' |trans }}</th>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.phone' |trans }}</th>
            <td>{{ contact.phone }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.mobile' |trans }}</th>
            <td>{{ contact.mobile }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.address' |trans }}</th>
            <td>{{ contact.address }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.postNumber' |trans }}</th>
            <td>{{ contact.postNumber }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.city' |trans }}</th>
            <td>{{ contact.city }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.country' |trans }}</th>
            <td>{{ contact.country }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.createdAt' |trans }}</th>
            <td>{{ contact.createdAt ? contact.createdAt|date() : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.updatedAt' |trans }}</th>
            <td>{{ contact.updatedAt ? contact.updatedAt|date() : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'entityField.createdBy' |trans }}</th>
            <td>{{ contact.createdBy ? contact.createdBy.name : ''}}</td>

        <tr>
            <th>{{ 'entityField.updatedBy' |trans }}</th>
            <td>{{ contact.updatedBy ? contact.updatedBy.name : ''}}</td>
        </tr>

        </tbody>
    </table>
    <ul class="list-inline">
        <li class="list-inline-item">
            {{ include('inc/button.index.html.twig',{'route': 'general_contact_index', 'label': 'label.addressBook' |trans}) }}
        </li>
        {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
        <li class="list-inline-item">
            {{ include('inc/button.edit.html.twig', {'route': 'general_contact_edit', 'id': contact.id}) }}
        </li>
        <li class="list-inline-item">
            {{ include('inc/button.delete.html.twig', {'route': 'general_contact_delete', 'id': contact.id}) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}

