<div class="modal fade" id="entityItemInfoModal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="entityItemInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="entityItemInfoModalLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'entityField.createdAt' |trans }}: {{ entity.createdAt ? entity.createdAt|date() : '' }}
                    <br>
                    {{ 'entityField.updatedAt' |trans }}: {{ entity.updatedAt ? entity.updatedAt|date() : '' }}
                    <br>
                    {{ 'entityField.createdBy' |trans }}: {{ entity.createdBy ? entity.createdBy.name : '' }}
                    <br>
                    {{ 'entityField.updatedBy' |trans }}: {{ entity.updatedBy ? entity.updatedBy.name : '' }}
                </p>
            </div>
        </div>
    </div>
</div>