<p class="small">
    {{ 'entityField.createdBy' |trans }}: {{ entity.createdBy ? entity.createdBy.name : '' }} ({{ entity.createdAt ? entity.createdAt|date() : '' }})
    |
    {{ 'entityField.updatedBy' |trans }}: {{ entity.updatedBy ? entity.updatedBy.name : '' }} ({{ entity.updatedAt ? entity.updatedAt|date() : '' }})
</p>
