<p class="small">
    {{ 'entityField.createdAt' |trans }}: {{ entity.createdAt ? entity.createdAt|date() : '' }}
    |
    {{ 'entityField.updatedAt' |trans }}: {{ entity.updatedAt ? entity.updatedAt|date() : '' }}
    |
    {{ 'entityField.createdBy' |trans }}: {{ entity.createdBy ? entity.createdBy.name : '' }}
    |
    {{ 'entityField.updatedBy' |trans }}: {{ entity.updatedBy ? entity.updatedBy.name : '' }}
</p>

