
<nav aria-label="...">
    <ul class="pagination pagination-lg justify-content-center">
        {% if paginator.hasPreviousPage %}

            <li class="page-item">
                <a class="page-link" href="{{ path(paginator.routeName, {page: paginator.previousPage}) }}?{{ app.request.queryString }}" rel="previous">
                    <i class="fa fw fa-arrow-left"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    <i class="fa fw fa-arrow-left"></i>
                </span>
            </li>
        {% endif %}

        {% for i in 1..paginator.lastPage %}
            {% if i == paginator.currentPage %}
                <li class="page-item active">
                    <span class="page-link">{{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ path(paginator.routeName, {page: i}) }}?{{ app.request.queryString }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.hasNextPage %}
            <li class="page-item">
                <a class="page-link" href="{{ path(paginator.routeName, {page: paginator.nextPage}) }}?{{ app.request.queryString }}" rel="next">
                    <i class="fa fw fa-arrow-right"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    <i class="fa fw fa-arrow-right"></i>
                </span>
            </li>
        {% endif %}
    </ul>
</nav>
