{% extends 'frontend/leftLayout.html.twig' %}
{% block title %}{{ 'label.users' |trans }}{% endblock %}
{% block leftColumn %}
    {{ parent() }}
    <h3 class="text-right">
        <span class="color-gray">{{ app.user.name }} | </span> <span class="color-new">{{ 'entityField.password' |trans }}</span>
    </h3>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    {{ include('inc/entity.form.html.twig') }}

{% endblock %}

